.ember-view.day .colorblock {
	display: inline-block;
	width: 15px;
	height: 15px;
}

.ember-view.day input, .ember-view.day .colorblock {
	vertical-align: middle;
	position: relative;
	top: -.15em;
}