{{#if calendarEvents}}
	Today's  calendar events are:
	{{#each calendarEvents}}
		{{name}}
	{{/each}}
	<br/>
{{/if}}
Today's stories are:
{{#each tpEntities}}
	<div class="colorblock" style="background-color: {{unbound color}};"></div>{{number}}
{{/each}}

{{adjustable-areas-slider areas=tpEntities}}