body {
	padding: 22px;
}

header {
	position: relative;
	text-align: center;
	margin-bottom: 22px;
}

header .title {
	display: block;
	position: absolute;
}

header .me {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}

footer {
	position: absolute;
	bottom: 22px;
}