{{#if showHeader}}
	<header>
		<span class="title">TIME</span> {{view App.ClockView}} <span class="me">{{username}}</span>
	</header>
{{/if}}
{{outlet}}
<footer>
	powered by Switchfly development
</footer>