<thead>
	<tr>
		<td colspan="7">
			{{view headerView}}
		</td>
	</tr>
	<tr>
		{{#each dayNames}}
			<th>
				{{this}}
			</th>
		{{/each}}
	</tr>
</thead>
<tbody class="calendar-component-days">
	{{#each _weeks}}
		<tr>
			{{#each days}}
				<td>
					{{view dayView}}
				</td>
			{{/each}}
		</tr>
	{{/each}}
</tbody>