.adjustable-areas-slider-component {
	color: white;
	position: relative;
	padding: 10px;
}

.adjustable-areas-slider-component .mask{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.adjustable-areas-slider-component:after {
	content: "";
	display: table-cell;
	clear: both;
}

.adjustable-areas-slider-component > .area {
	float: left;
	height: 32px;
	/*line-height: 1.9;*/
}

.adjustable-areas-slider-component > .sliders-container {
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
}

.adjustable-areas-slider-component .stop {
	position: absolute;
	width: 0;
	height: 0;
	border: 15px transparent solid;
	border-top-color: #AAA;
	border-top-width: 15px;
	border-bottom-width: 17px;
	left: -15px;
}